n8n-workflow.json
{
  "name": "Simple Threat Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "threat-alert",
        "responseMode": "onReceived"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "threat-alert"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=Threat detected: {{$json.data.type}} from {{$json.data.ip}} | Severity: {{$json.data.severity}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Process Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.data.severity}}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "name": "Check If High Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://webhook.site/#!/view/YOUR-UNIQUE-ID",
        "options": {}
      },
      "name": "Alert for High Severity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "https://webhook.site/#!/view/YOUR-UNIQUE-ID",
        "options": {}
      },
      "name": "Log Low Priority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Alert": {
      "main": [
        [
          {
            "node": "Check If High Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If High Severity": {
      "main": [
        [
          {
            "node": "Alert for High Severity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}